#container {
    height: 100%;
    width: 100%
}

#editor,#toolbar,#preview_area {
    display: inline-block;
}

#editor {
    margin-left: 0;
    width: 50%;
    height: 80%
}

#toolbar {
    margin-left: 55%;
    width: 10%;
    height: 80%;
    border-style: dashed;
}

#preview_area {
    margin-right: 0;
    width: 30%;
    height: 100%;
    border-style: dashed;
}